%p
  Your CSV file must use only the valid data options described below. The required fields change
  depending on the type of the record. People must include at least a first name, last
  name, and/or email address. Companies (like foundations or nonprofits) must include either a
  company name or an email address.

%p The order of the CSV columns does not matter.

%p
  For more help with importing, please consult the
  = link_to "Knowledge Base", "https://artfully.zendesk.com/entries/22368622-importing-and-exporting-data"
