%p= link_to "Export People", contacts_export_index_path, :class => "btn btn3"
%p= link_to "Export Donations", donations_export_index_path, :class => "btn btn3"
%p= link_to "Export Sales", ticket_sales_export_index_path, :class => "btn btn3"