-if (Rails.env.production? || Rails.env.staging?) && !Rails.application.config.google_analytics.account.blank?
  - segment = "" if local_assigns[:segment].nil?
  - segment = (segment + "_") unless segment.blank?
  - segment_account = segment + "account"
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{h Rails.application.config.google_analytics.send(segment_account)}']);
    _gaq.push(['_setDomainName', '#{h Rails.application.config.google_analytics.domain}']);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();